.images
.streamlit
.csv_files
.script_json_files
.vscode
# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask specific
instance/
.webassets-cache

# Scrapy specific
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebooks
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PDM
.pdm.toml

# PEP 582 packages directory
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# MkDocs documentation
/site

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# Project-specific ignores
__init__/
.streamlit/secrets.toml

# Ignore specific structure files and survey scripts
.surveyscript/pjscripts.txt
.structure/fastapistructure

# Additional specific files to ignore
.csv_files/Broadcast_List_Report_for_PETALING JAYA MANDARIN EVENING.csv
.csv_files/Broadcast_List_Report_for_PETALING JAYA MANDARIN EVNG PT2.csv
.script_json_files/PJ Script JSON Format.json
.script_json_files/PJ Scripts with Formatting.txt

# Newly added patterns to ignore
# Log files
*.log

# Temporary files
*.tmp
*.temp

# Temporary directory
temp/

# VSCode settings
.vscode/settings.json
